  name: Disable Workflow

  on:
    push:
      branches: [ main ]


  jobs:
    disable:
        runs-on: ubuntu-latest

        steps:
          - name: Drishti
            run: echo "disable workflow"
